# postgresqlへテーブルをエクスポート

In [10]:
import os
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

In [11]:
test = pd.DataFrame({
    'id':[1,2,3],
    'score':[10,20,30]
})
test

   id  score
0   1     10
1   2     20
2   3     30

In [15]:
connection_config = {
    'user': 'postgres',
    'password': '',
    'host': 'localhost',
    'port': '5432',
    'database': 'chap07'
}

engine = create_engine('postgresql://{user}:{password}@{host}:{port}/{database}'.format(**connection_config))
test.to_sql('test', con = engine, if_exists='replace', index=False)

AttributeError: 'Engine' object has no attribute 'cursor'