# Create CSV
---

In [2]:
import pandas as pd
import numpy as np

---
# Sales

In [6]:
year = np.arange(1990, 1998)
sale = np.array([50, 51, 52, 52, 50, 50, 49, 55])

In [7]:
Sales = pd.DataFrame({
    'year':year,
    'sale':sale
})
Sales

   year  sale
0  1990    50
1  1991    51
2  1992    52
3  1993    52
4  1994    50
5  1995    50
6  1996    49
7  1997    55

In [9]:
Sales.to_csv('../../dataset/compare_between_window/Sales.csv', index=False)